{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'ukko/style.css' %}" />
    <title>{% block title %}Ukko{% endblock %}</title>
</head>

<body>
    <div id="main-menu">
        {% block menu %}
        <ul>
            <li><a href="{% url 'ukko:index' %}">Home</a></li>
            <li><a href="{% url 'ukko:chart' %}">Chart</a></li>
            <li><a href="{% url 'ukko:table' %}">Table</a></li>
            <li><a href="{% url 'ukko:about' %}">About</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>